#frm select {
    width: auto;
}


#user > tbody > tr > td {
    height: 45px;
    padding: 4px 8px;
}

.muted {
    color: #999999;
}

.notready {
    color: #999999;
    font-style: italic;
}

#comments:hover {
    background-color: #FFFFC0;
    cursor: text;
}
body {
    padding-top: 50px;
    padding-bottom: 30px;
}

table.table > tbody > tr > td {
    height: 30px;
    vertical-align: middle;
}